<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>PDA Online</title>
</head>
<body>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
			<p>&copy; 2019 - 2º Pie de página</p>
        </footer>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
