.task {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    flex-direction: column;
}

.task-header {
    text-align: center;
    border-bottom: 1px dashed black;
}

.task-content {
    flex-grow: 1;
    align-self: center;
}
